@import "~sanitize.css"
@import "vars.styl"
  @import "header"

body {
  background-color: black;
}

h1 {
  color: white;
}

.hello {
  background-color: pink; 

  .title {
    color: blue;
  }
  .box{
    background-color: blue;

    h3{
      font-size: 20px
      color: white;
    }
    }
}
